@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}

.detailed-car-image {
	height: 200px;
}

.pointer {
	cursor: pointer;
}

.phone-block {
	height: 36px;
}

.modal.show {
	display: block;
}

.phone-enter-active,
.phone-leave-active {
	transition: all 0.5s;
}

.phone-enter,
.phone-leave-to {
	transform: translateX(50px);
	opacity: 0;
}

.modal-enter-active,
.fade-enter-active {
	animation: 0.5s fade forwards;
}

.modal-leave-active,
.fade-leave-active {
	animation: 0.5s fade reverse; 
}

.modal-enter,
.modal-leave-to,
.fade-enter,
.fade-leave-to {
	opacity: 0;
}